<main id="projects" class="container-main">
    <h1 class="title-main">projetos</h1>
    <div class="divider"></div>
    
    <span class="describe">Aqui você vai encontrar alguns dos meus projetos</span>
    
@for (project of projects; track $index) {
    <section class="container">
        <img 
        [src]="project.imageUrl" 
        alt="image {{project.name}}" 
        class="img-project">

        <h3 class="title">{{project.name}}</h3>
        
        <p class="content">{{project.description}}</p>
        
        <section class="container-technologies">
        @for (technology of project.technologies; track $index) {
            <div class="technology">{{technology}}</div>
        }   
        </section>

        <article class="buttons-links">
            @if (project.active && !project.professional) {
                <a [href]="project.deployUrl" target="_blank" rel="next" class="button link">experimente</a><br>
            }
            
            @if (!project.professional) {
                <a [href]="project.repositoryUrl" target="_blank" rel="next" class="button link">repositório</a>
            }
        </article>
    </section>
}
</main>