<header class="header">
    <section class="container">
        <div class="container-logo">
            <img src="assets/png/img-perfil.png" alt="imagem logo" class="img-logo">
            <span class="name"><a href="./">arthur correia</a></span>
        </div>
        <nav class="nav-bar">
            <div>
                <a href="./#cape" class="nav-bar-link">início</a>
            </div>
            <div>
                <a href="./#about" class="nav-bar-link">sobre</a>
            </div>
            <div>
                <a href="./#projects" class="nav-bar-link">projetos</a>
            </div>
            <div>
                <a href="./#contact" class="nav-bar-link">contato</a>
            </div>
        </nav>
        <nav class="nav-bar-mobile">
            <button class="nav-bar-button" (click)="displayMenu()">
                @if (!menuOpen) {
                    <span>
                        <i class="pi pi-bars" style="font-size: 1.5rem"></i>
                    </span>
                } @else {
                    <span>
                        <i class="pi pi-times" style="font-size: 1.5rem"></i>
                    </span>
                }
            </button>
        </nav>
    </section>
    <nav class="nav-bar-list" [ngStyle]="{'display': display}" (click)="displayMenu()">
        <a href="./#cape" class="nav-bar-list-link">início</a>
        <a href="./#about" class="nav-bar-list-link">sobre</a>
        <a href="./#projects" class="nav-bar-list-link">projetos</a>
        <a href="./#contact" class="nav-bar-list-link">contato</a>
    </nav>
</header>