<main class="main-container" id="cape">
    <section class="container-social">
        <div class="social">
            <a href="https://www.linkedin.com/in/arthur-correia-2b07aa243/" target="_blank" rel="noopener noreferrer">
                <i class="pi pi-linkedin" style="font-size: 2rem"></i>
            </a>
        </div>
        <div class="social">
            <a href="https://github.com/artucorreia" target="_blank" rel="noopener noreferrer">
                <i class="pi pi-github" style="font-size: 2rem"></i>
            </a>
        </div>
        <div class="social">
            <a href="https://wa.me/5582988871624" target="_blank" rel="noopener noreferrer">
                <i class="pi pi-whatsapp" style="font-size: 2rem"></i>
            </a>
        </div>
    </section>
    <section>
        <article class="container">
            <h1 class="title">olá, me chamo <br> arthur correia</h1>
            <p class="content">Focado em 
                <span class="emphasis">desenvolvimento Web</span>. 
                Possuo conhecimentos nas tecnologias 
                <span class="emphasis">Spring Boot</span>,  
                <span class="emphasis">Angular</span> 
                e banco de dados com
                <span class="emphasis">MySQL</span> 
                e
                <span class="emphasis">Postgres</span>. 
            </p>
            <div class="div-button">
                <a href="./#projects">
                    <button class="button">
                        projetos
                    </button>
                </a>
            </div>
        </article>
    </section>
</main>