<main id="about" class="container-main">
    <h1 class="title-main">sobre mim</h1>
    <div class="divider"></div>
    
    <span class="describe">
        Aqui você encontrá mais informações sobre mim, o que eu faço atualmente, minhas metas, além de conhecer um pouco das minhas habilidades e tecnologias que domino
    </span>

    <section class="container">
        <article class="about">
            <h3 class="sub-title">me conheça</h3>
            <div class="container-about">
                <p>Sou um Desenvolvedor Web especializado em criar APIs RESTful com Spring Boot e na criação de interfaces dinâmicas e responsivas com Angular. Confira alguns dos meus trabalhos na seção de Projetos.</p>
                
                <p>Atualmente, estou no 5º período do curso de Sistemas de Informação.</p>

                <p>Meu primeiro contato com a programação foi no ensino médio, onde comecei a estudar lógica de programação. Antes mesmo de ingressar na faculdade, percebi que era com isso que gostaria de trabalhar, o que me levou a direcionar meus estudos inicialmente para o Front-End. Com o tempo, aprofundei meus conhecimentos em Back-End, especialmente no framework Spring Boot, que se tornou meu foco principal.</p>
                
                <p>Busco oportunidade como desenvolvedor, onde posso aplicar e desenvolver meu conhecimentos.</p>
                
                <p>Estou sempre aberto a novas oportunidades de trabalho. Sinta-se à vontade para me contatar.</p>
                <a href="./#contact" class="button">contato</a>
            </div>
        </article>
        <article class="skills-container">
            <h3 class="sub-title">minhas habilidades</h3> <br>
            <div class="skills">
                @for (skill of skills; track $index) {
                    <div class="skill">
                        {{skill.name}} 
                        <img [src]="skill.imageUrl" alt="logo {{skill.name}}" class="img-logo">
                    </div>
                }
            </div>
        </article>
    </section>
</main>