<footer class="container">
    <section class="upper">
        <article class="row-1">
            <h2>social</h2>
            <a href="https://www.linkedin.com/in/arthur-correia-2b07aa243/" target="_blank" rel="noopener noreferrer">
                <i class="pi pi-linkedin" style="font-size: 2.4em;"></i>
            </a>
            <a href="https://github.com/artucorreia" target="_blank" rel="noopener noreferrer">
                <i class="pi pi-github" style="font-size: 2.4em;"></i>
            </a>
            <a href="https://wa.me/5582988871624" target="_blank" rel="noopener noreferrer">
                <i class="pi pi-whatsapp" style="font-size: 2.4em;"></i>
            </a>
        </article>
        <article class="row-2">
            <h2>arthur correia</h2>
            <p>Focado em desenvolvimento Web. Possuo conhecimentos no desenvolvimento de APIs REST com Spring Boot e na criação de interfaces dinâmicas com Angular</p>
        </article>
    </section>
    <hr class="division">
    <section class="lower">
        <p>&copy; copyright <span>{{year}}</span>. Made by <a href="#" target="_blank" rel="noopener noreferrer">arthur correia</a></p>
    </section>
</footer>